<footer class="footer-section">
	<div class="container footer-main d-flex flex-wrap">
		<div class="col-12 col-lg-6 mb-3">
			<div class="footer-heading">
				About
			</div>
			<div class="footer-body">
				This footer format is a run of the mill footer with reach us and a short presentation. The full contact detail, short portrayal just as online life catch makes this layout entirely pertinent. This footer gives the required component in a basic manner among footer models. This footer is run of the mill footer which keeps the client refreshed on the site exercises or occasions.
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3 mb-3">
			<div class="footer-heading">
				Categories
			</div>
			<div class="footer-body">
				<a class="d-block" href="#">C</a>
				<a class="d-block" href="#">UI</a>
				<a class="d-block" href="#">PHP</a>
				<a class="d-block" href="#">Java</a>
				<a class="d-block" href="#">Android</a>
				<a class="d-block" href="#">Templates</a>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3 mb-3">
			<div class="footer-heading">
				Quick Links
			</div>
			<div class="footer-body d-block">
				<a class="d-block" href="#">About</a>
				<a class="d-block" href="#">Contact Us</a>
				<a class="d-block" href="#">Contribute</a>
				<a class="d-block" href="#">Privacy Policy</a>
				<a class="d-block" href="#">Sitemap</a>
			</div>
		</div>
	</div>
	<div class="container footer-bottom-bar mt-5">
		<div class="col-6">
			<div class="copyright">
				Copyright 2017 ACME
			</div>
		</div>
		<div class="col-6"></div>
	</div>
</div>