<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Survey" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
		<link rel="shortcut icon" href="#">
		<link rel="stylesheet" href="/static/css/style.css">
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
		<main id="content">
			{% include '_nav.html' %}
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<section class="container messages">
				{% for category, msg in messages %}
				<p class={{category}}>{{msg}}</p>
				{% endfor %}
			</section>
			{% endif %}
			{% endwith %}
			<section class="container main-content">
				{% block content %}
				{% endblock %}
			</section>
			{% include '_footer.html' %}
		</main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>
